examples/flows/Account_Before_Insert_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <assignments>
        <description>Assign Client service and group account on insert</description>
        <name>Assign_Client_service_and_group_account_on_insert</name>
        <label>Assign Client service and group account on insert</label>
        <locationX>138</locationX>
        <locationY>1127</locationY>
        <assignmentItems>
            <assignToReference>$Record.Client_Services_Lead_Lookup__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>User_record_Iteration_on_insert.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Group_Account_Director_Lookup__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>User_record_Iteration_on_insert.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Managing_Director__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>User_record_Iteration_on_insert.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Executive_Sponsor_Lookup__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>User_record_Iteration_on_insert.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>User_record_Iteration_on_insert</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Client Service as Blank on Update</description>
        <name>Assign_Client_Service_as_Blank_on_Update</name>
        <label>Assign Client Service as Blank on Update</label>
        <locationX>622</locationX>
        <locationY>3611</locationY>
        <assignmentItems>
            <assignToReference>$Record.Client_Services_Lead_Lookup__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Check_Group_Director_on_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Client service on insert</description>
        <name>Assign_Client_service_on_insert</name>
        <label>Assign Client service on insert</label>
        <locationX>402</locationX>
        <locationY>1127</locationY>
        <assignmentItems>
            <assignToReference>$Record.Client_Services_Lead_Lookup__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>User_record_Iteration_on_insert.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>User_record_Iteration_on_insert</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Client Service User on Update</description>
        <name>Assign_Client_Service_User_on_Update</name>
        <label>Assign Client Service User on Update</label>
        <locationX>886</locationX>
        <locationY>3611</locationY>
        <assignmentItems>
            <assignToReference>$Record.Client_Services_Lead_Lookup__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Client_Service_User_on_update.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Group_Director_on_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Executive Sponsor as blank on Update</description>
        <name>Assign_Executive_Sponsor_as_blank_on_Update</name>
        <label>Assign Executive Sponsor as blank on Update</label>
        <locationX>622</locationX>
        <locationY>2411</locationY>
        <assignmentItems>
            <assignToReference>$Record.Executive_Sponsor_Lookup__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Check_Managing_Director_on_update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Executive Sponsor on insert</description>
        <name>Assign_Executive_Sponsor_on_insert</name>
        <label>Assign Executive Sponsor on insert</label>
        <locationX>1194</locationX>
        <locationY>1127</locationY>
        <assignmentItems>
            <assignToReference>$Record.Executive_Sponsor_Lookup__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>User_record_Iteration_on_insert.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>User_record_Iteration_on_insert</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Executive Sponsor User on Update</description>
        <name>Assign_Executive_Sponsor_User_on_Update</name>
        <label>Assign Executive Sponsor User on Update</label>
        <locationX>886</locationX>
        <locationY>2411</locationY>
        <assignmentItems>
            <assignToReference>$Record.Executive_Sponsor_Lookup__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Executive_Sponsor_User_on_update.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Managing_Director_on_update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Group Account as blank on Update</description>
        <name>Assign_Group_Account_as_blank_on_Update</name>
        <label>Assign Group Account as blank on Update</label>
        <locationX>578</locationX>
        <locationY>4211</locationY>
        <assignmentItems>
            <assignToReference>$Record.Group_Account_Director_Lookup__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Assign Group account on insert</description>
        <name>Assign_Group_account_on_insert</name>
        <label>Assign Group account on insert</label>
        <locationX>666</locationX>
        <locationY>1127</locationY>
        <assignmentItems>
            <assignToReference>$Record.Group_Account_Director_Lookup__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>User_record_Iteration_on_insert.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>User_record_Iteration_on_insert</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Group Account User on Update</description>
        <name>Assign_Group_Account_User_on_Update</name>
        <label>Assign Group Account User on Update</label>
        <locationX>842</locationX>
        <locationY>4211</locationY>
        <assignmentItems>
            <assignToReference>$Record.Group_Account_Director_Lookup__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Group_Account_User_on_update.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Assign Managing Director as blank on Update</description>
        <name>Assign_Managing_Director_as_blank_on_Update</name>
        <label>Assign Managing Director as blank on Update</label>
        <locationX>622</locationX>
        <locationY>3011</locationY>
        <assignmentItems>
            <assignToReference>$Record.Managing_Director__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Check_Client_Service_on_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Managing Director on insert</description>
        <name>Assign_Managing_Director_on_insert</name>
        <label>Assign Managing Director on insert</label>
        <locationX>930</locationX>
        <locationY>1127</locationY>
        <assignmentItems>
            <assignToReference>$Record.Managing_Director__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>User_record_Iteration_on_insert.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>User_record_Iteration_on_insert</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Managing Director User on Update</description>
        <name>Assign_Managing_Director_User_on_Update</name>
        <label>Assign Managing Director User on Update</label>
        <locationX>886</locationX>
        <locationY>3011</locationY>
        <assignmentItems>
            <assignToReference>$Record.Managing_Director__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Managing_Director_User_on_update.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Client_Service_on_Update</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Check Account User Lookup text</description>
        <name>Check_Account_User_Lookup_text</name>
        <label>Check Account User Lookup text</label>
        <locationX>1106</locationX>
        <locationY>1295</locationY>
        <defaultConnector>
            <targetReference>Check_Executive_Sponsor_on_update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsAccountUserLookupChanged</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Client_Services_Lead__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Group_Account_Director__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Managing_Director_Text__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_All_user_lookup_are_blank</targetReference>
            </connector>
            <label>IsAccountUserLookupChanged</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check All user lookup are blank</description>
        <name>Check_All_user_lookup_are_blank</name>
        <label>Check All user lookup are blank</label>
        <locationX>941</locationX>
        <locationY>1403</locationY>
        <defaultConnector>
            <targetReference>Check_Executive_Sponsor_on_update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsUserLookupBlank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Client_Services_Lead__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Group_Account_Director__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Managing_Director_Text__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_User_for_account_lookup</targetReference>
            </connector>
            <label>IsUserLookupBlank</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check Client Service on Update</description>
        <name>Check_Client_Service_on_Update</name>
        <label>Check Client Service on Update</label>
        <locationX>1106</locationX>
        <locationY>3287</locationY>
        <defaultConnector>
            <targetReference>Check_Group_Director_on_Update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsClientServiceChanged</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Client_Services_Lead__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Client_Service_User_on_update</targetReference>
            </connector>
            <label>IsClientServiceChanged</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check Client service user on update</description>
        <name>Check_Client_service_user_on_update</name>
        <label>Check Client service user on update</label>
        <locationX>886</locationX>
        <locationY>3503</locationY>
        <defaultConnector>
            <targetReference>Check_Group_Director_on_Update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsClientServiceBlank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Client_Services_Lead__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Client_Service_as_Blank_on_Update</targetReference>
            </connector>
            <label>IsClientServiceBlank</label>
        </rules>
        <rules>
            <name>IsClientServiceUserOnUpdate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Client_Service_User_on_update</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Client_Service_User_on_Update</targetReference>
            </connector>
            <label>IsClientServiceUserOnUpdate</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check Executive Sponsor on update</description>
        <name>Check_Executive_Sponsor_on_update</name>
        <label>Check Executive Sponsor on update</label>
        <locationX>1106</locationX>
        <locationY>2087</locationY>
        <defaultConnector>
            <targetReference>Check_Managing_Director_on_update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsExecutive_SponsorOnUpdate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Executive_Sponsor__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Executive_Sponsor_User_on_update</targetReference>
            </connector>
            <label>IsExecutive SponsorOnUpdate</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check Executive Sponsor user on update</description>
        <name>Check_Executive_Sponsor_user_on_update</name>
        <label>Check Executive Sponsor user on update</label>
        <locationX>886</locationX>
        <locationY>2303</locationY>
        <defaultConnector>
            <targetReference>Check_Managing_Director_on_update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsExecutiveSponsorBlank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Executive_Sponsor__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Executive_Sponsor_as_blank_on_Update</targetReference>
            </connector>
            <label>IsExecutiveSponsorBlank</label>
        </rules>
        <rules>
            <name>IsExecutiveSponsorUserOnUpdate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Executive_Sponsor_User_on_update</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Executive_Sponsor_User_on_Update</targetReference>
            </connector>
            <label>IsExecutiveSponsorUserOnUpdate</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check group account user on update</description>
        <name>Check_group_account_user_on_update</name>
        <label>Check group account user on update</label>
        <locationX>842</locationX>
        <locationY>4103</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsGroupDirectorBlank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Group_Account_Director__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Group_Account_as_blank_on_Update</targetReference>
            </connector>
            <label>IsGroupDirectorBlank</label>
        </rules>
        <rules>
            <name>IsGroupAccountUserOnUpdate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Group_Account_User_on_update</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Group_Account_User_on_Update</targetReference>
            </connector>
            <label>IsGroupAccountUserOnUpdate</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check Group Director on Update</description>
        <name>Check_Group_Director_on_Update</name>
        <label>Check Group Director on Update</label>
        <locationX>1106</locationX>
        <locationY>3887</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsGroupDirectorChanged</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Group_Account_Director__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Group_Account_User_on_update</targetReference>
            </connector>
            <label>IsGroupDirectorChanged</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check Managing Director on update</description>
        <name>Check_Managing_Director_on_update</name>
        <label>Check Managing Director on update</label>
        <locationX>1106</locationX>
        <locationY>2687</locationY>
        <defaultConnector>
            <targetReference>Check_Client_Service_on_Update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsManagingDirectorOnUpdate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Managing_Director_Text__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Managing_Director_User_on_update</targetReference>
            </connector>
            <label>IsManagingDirectorOnUpdate</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check managing director user on update</description>
        <name>Check_managing_director_user_on_update</name>
        <label>Check managing director user on update</label>
        <locationX>886</locationX>
        <locationY>2903</locationY>
        <defaultConnector>
            <targetReference>Check_Client_Service_on_Update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsManagingDirectorBlank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Managing_Director_Text__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Managing_Director_as_blank_on_Update</targetReference>
            </connector>
            <label>IsManagingDirectorBlank</label>
        </rules>
        <rules>
            <name>IsManagingDirectorUserOnUpdate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Managing_Director_User_on_update</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Managing_Director_User_on_Update</targetReference>
            </connector>
            <label>IsManagingDirectorUserOnUpdate</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check Record is Inserted / Updated</description>
        <name>Check_Record_is_Inserted_Updated</name>
        <label>Check Record is Inserted / Updated</label>
        <locationX>644</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>MQA_Change_to_True</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsInserted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsNewRecord</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MQA_Decision_on_Insert</targetReference>
            </connector>
            <label>IsInserted</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check User Account Lookup</description>
        <name>Check_User_Account_Lookup</name>
        <label>Check User Account Lookup</label>
        <locationX>787</locationX>
        <locationY>1619</locationY>
        <defaultConnector>
            <targetReference>Check_Executive_Sponsor_on_update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsUserForAccountLookup</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_User_for_account_lookup</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_Owner_when_user_lookup_blank</targetReference>
            </connector>
            <label>IsUserForAccountLookup</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check User record on insert</description>
        <name>Check_User_record_on_insert</name>
        <label>Check User record on insert</label>
        <locationX>798</locationX>
        <locationY>1019</locationY>
        <defaultConnector>
            <targetReference>User_record_Iteration_on_insert</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsClientService_GroupAccount_ManagingDirector_ExecSponsor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>User_record_Iteration_on_insert.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Client_Services_Lead__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>User_record_Iteration_on_insert.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Group_Account_Director__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>User_record_Iteration_on_insert.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Managing_Director_Text__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>User_record_Iteration_on_insert.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Executive_Sponsor__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Client_service_and_group_account_on_insert</targetReference>
            </connector>
            <label>IsClientService&amp;GroupAccount&amp;ManagingDirector&amp;ExecSponsor</label>
        </rules>
        <rules>
            <name>IsClientService</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>User_record_Iteration_on_insert.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Client_Services_Lead__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Client_service_on_insert</targetReference>
            </connector>
            <label>IsClientService</label>
        </rules>
        <rules>
            <name>IsGroupAccount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>User_record_Iteration_on_insert.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Group_Account_Director__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Group_account_on_insert</targetReference>
            </connector>
            <label>IsGroupAccount</label>
        </rules>
        <rules>
            <name>IsManagingDirector</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>User_record_Iteration_on_insert.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Managing_Director_Text__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Managing_Director_on_insert</targetReference>
            </connector>
            <label>IsManagingDirector</label>
        </rules>
        <rules>
            <name>IsExecutiveSponsor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>User_record_Iteration_on_insert.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Executive_Sponsor__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Executive_Sponsor_on_insert</targetReference>
            </connector>
            <label>IsExecutiveSponsor</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check user records on insert</description>
        <name>Check_user_records_on_insert</name>
        <label>Check user records on insert</label>
        <locationX>182</locationX>
        <locationY>803</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsUserRecordsOnInsert</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_User_record_on_insert</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>User_record_Iteration_on_insert</targetReference>
            </connector>
            <label>IsUserRecordsOnInsert</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_First_MQA_Blank</name>
        <label>is First MQA Blank</label>
        <locationX>952</locationX>
        <locationY>611</locationY>
        <defaultConnector>
            <targetReference>Partner_Signed_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>First_MQA_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.First_MQA_Date__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_First_MQA_to_today</targetReference>
            </connector>
            <label>First MQA Blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>MQA_Change_to_True</name>
        <label>MQA Change to True</label>
        <locationX>1106</locationX>
        <locationY>395</locationY>
        <defaultConnector>
            <targetReference>Partner_Signed_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Need_to_Set_Last_MQA_Today</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MQA__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MQA__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Last_MQA_Today</targetReference>
            </connector>
            <label>Need to Set Last MQA Today</label>
        </rules>
    </decisions>
    <decisions>
        <name>MQA_Decision_on_Insert</name>
        <label>MQA Decision on Insert</label>
        <locationX>182</locationX>
        <locationY>395</locationY>
        <defaultConnector>
            <targetReference>Get_User_record_on_insert</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Last_MQA_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MQA__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_MQA_Date_Fields</targetReference>
            </connector>
            <label>Last MQA Blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Partner_Signed_Decision</name>
        <label>Partner Signed Decision</label>
        <locationX>1106</locationX>
        <locationY>995</locationY>
        <defaultConnector>
            <targetReference>Check_Account_User_Lookup_text</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Partner_Signed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Parnership_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Signed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Parnership_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Type_to_Partner</targetReference>
            </connector>
            <label>Partner Signed</label>
        </rules>
    </decisions>
    <description>Account Before Insert / Update</description>
    <environments>Default</environments>
    <formulas>
        <description>IsNewRecord</description>
        <name>IsNewRecord</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Account Before Insert / Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account Before Insert / Update</label>
    <loops>
        <description>User record Iteration on insert</description>
        <name>User_record_Iteration_on_insert</name>
        <label>User record Iteration on insert</label>
        <locationX>50</locationX>
        <locationY>911</locationY>
        <collectionReference>Get_User_record_on_insert</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_User_record_on_insert</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get Client Service User on update</description>
        <name>Get_Client_Service_User_on_update</name>
        <label>Get Client Service User on update</label>
        <locationX>886</locationX>
        <locationY>3395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Client_service_user_on_update</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Client_Services_Lead__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Executive Sponsor User on update</description>
        <name>Get_Executive_Sponsor_User_on_update</name>
        <label>Get Executive Sponsor User on update</label>
        <locationX>886</locationX>
        <locationY>2195</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Executive_Sponsor_user_on_update</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Executive_Sponsor__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Group Account User on update</description>
        <name>Get_Group_Account_User_on_update</name>
        <label>Get Group Account User on update</label>
        <locationX>842</locationX>
        <locationY>3995</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_group_account_user_on_update</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Group_Account_Director__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Managing Director User on update</description>
        <name>Get_Managing_Director_User_on_update</name>
        <label>Get Managing Director User on update</label>
        <locationX>886</locationX>
        <locationY>2795</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_managing_director_user_on_update</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Managing_Director_Text__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get User for account lookup</description>
        <name>Get_User_for_account_lookup</name>
        <label>Get User for account lookup</label>
        <locationX>787</locationX>
        <locationY>1511</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_User_Account_Lookup</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sofiya Trakhtenberg</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get User record on insert</description>
        <name>Get_User_record_on_insert</name>
        <label>Get User record on insert</label>
        <locationX>182</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_user_records_on_insert</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Client_Services_Lead__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Group_Account_Director__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Managing_Director_Text__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Executive_Sponsor__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Update Account Owner when user lookup blank</description>
        <name>Update_Account_Owner_when_user_lookup_blank</name>
        <label>Update Account Owner when user lookup blank</label>
        <locationX>655</locationX>
        <locationY>1727</locationY>
        <connector>
            <targetReference>Check_Executive_Sponsor_on_update</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_User_for_account_lookup.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_First_MQA_to_today</name>
        <label>Update First MQA to today</label>
        <locationX>820</locationX>
        <locationY>719</locationY>
        <connector>
            <targetReference>Partner_Signed_Decision</targetReference>
        </connector>
        <inputAssignments>
            <field>First_MQA_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Last_MQA_Today</name>
        <label>Update Last MQA Today</label>
        <locationX>952</locationX>
        <locationY>503</locationY>
        <connector>
            <targetReference>is_First_MQA_Blank</targetReference>
        </connector>
        <inputAssignments>
            <field>Last_MQA_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_MQA_Date_Fields</name>
        <label>Update MQA Date Fields</label>
        <locationX>50</locationX>
        <locationY>503</locationY>
        <connector>
            <targetReference>Get_User_record_on_insert</targetReference>
        </connector>
        <inputAssignments>
            <field>First_MQA_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_MQA_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Type_to_Partner</name>
        <label>Update Type to Partner</label>
        <locationX>974</locationX>
        <locationY>1103</locationY>
        <connector>
            <targetReference>Check_Account_User_Lookup_text</targetReference>
        </connector>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Partner</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>518</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Record_is_Inserted_Updated</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
