examples/flows/Case_After_Insert_Update_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Send Email To Case</description>
        <name>Send_Email_To_Case</name>
        <label>Send Email To Case</label>
        <locationX>380</locationX>
        <locationY>1584</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>Case_Email_Recipients</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>composeEmailContent</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>AI Case Email</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Case_Email_Template</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>1.0.1</versionString>
    </actionCalls>
    <actionCalls>
        <name>Send_Slack_Message_Case_Creation</name>
        <label>Send Slack Message Case Creation</label>
        <locationX>952</locationX>
        <locationY>600</locationY>
        <actionName>slackPostMessage</actionName>
        <actionType>slackPostMessage</actionType>
        <connector>
            <targetReference>Set_CSL_Slack_Message_Sent</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>slackAppIdForToken</name>
            <value>
                <stringValue>A03269G3DNE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackWorkspaceIdForToken</name>
            <value>
                <stringValue>T044L3V9A</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackConversationId</name>
            <value>
                <elementReference>Get_Client_Services_Lead.Slack_Conversation_Id__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackMessage</name>
            <value>
                <elementReference>CaseCreatedSlackMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>slackPostMessage</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <assignments>
        <description>Assign Case Owner In Email Recipient</description>
        <name>Assign_Case_Owner_In_Email_Recipient</name>
        <label>Assign Case Owner In Email Recipient</label>
        <locationX>380</locationX>
        <locationY>1476</locationY>
        <assignmentItems>
            <assignToReference>Case_Email_Recipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Owner:User.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case_Email_Recipients</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>aisearch@wpromote.com</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Email_To_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Supplied Email As Recipient</description>
        <name>Assign_Supplied_Email_As_Recipient</name>
        <label>Assign Supplied Email As Recipient</label>
        <locationX>248</locationX>
        <locationY>1284</locationY>
        <assignmentItems>
            <assignToReference>Case_Email_Recipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.SuppliedEmail</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Case_Owner_In_Email_Recipient</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Check Case Inserted / Updated</description>
        <name>Check_Case_Inserted_Updated</name>
        <label>Check Case Inserted / Updated</label>
        <locationX>534</locationX>
        <locationY>276</locationY>
        <defaultConnector>
            <targetReference>Does_Account_Exist</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsInserted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsNewRecord</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Does_Account_Exist</targetReference>
            </connector>
            <label>IsInserted</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Account_Exist</name>
        <label>Does Account Exist</label>
        <locationX>534</locationX>
        <locationY>468</locationY>
        <defaultConnector>
            <targetReference>Is_Case_Created</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Account_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account</targetReference>
            </connector>
            <label>Account Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_CSL_Have_Slack_Id</name>
        <label>Does CSL Have Slack Id</label>
        <locationX>1084</locationX>
        <locationY>492</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CSL_Has_Slack_Id</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Client_Services_Lead.Slack_Conversation_Id__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Client_Services_Lead.Slack_Conversation_Id__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Slack_Message_Case_Creation</targetReference>
            </connector>
            <label>CSL Has Slack Id</label>
        </rules>
    </decisions>
    <decisions>
        <description>Is Case Created?</description>
        <name>Is_Case_Created</name>
        <label>Is Case Created?</label>
        <locationX>534</locationX>
        <locationY>1068</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsNewRecord</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AI_Search__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Supplied_Email_Blank_Check</targetReference>
            </connector>
            <label>New Case</label>
        </rules>
    </decisions>
    <decisions>
        <name>Ownership_Decision</name>
        <label>Ownership Decision</label>
        <locationX>314</locationX>
        <locationY>684</locationY>
        <defaultConnector>
            <targetReference>Is_Case_Created</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Client_Services_Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account.Client_Services_Lead_Lookup__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Owner_to_Client_Services_Lead</targetReference>
            </connector>
            <label>Client Services Lead</label>
        </rules>
        <rules>
            <name>Group_Director</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account.Group_Account_Director_Lookup__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Owner_to_Group_Account_Director</targetReference>
            </connector>
            <label>Group Director</label>
        </rules>
    </decisions>
    <decisions>
        <name>Send_Slack_to_Client_Services_Lead_Decision</name>
        <label>Send Slack to Client Services Lead Decision</label>
        <locationX>1282</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Case_Account_has_CSL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Client_Services_Lead_Lookup__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CSL_Slack_Message_Sent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Client_Services_Lead</targetReference>
            </connector>
            <label>Case Account has CSL</label>
        </rules>
    </decisions>
    <decisions>
        <description>Supplied Email Blank Check</description>
        <name>Supplied_Email_Blank_Check</name>
        <label>Supplied Email Blank Check</label>
        <locationX>380</locationX>
        <locationY>1176</locationY>
        <defaultConnector>
            <targetReference>Assign_Case_Owner_In_Email_Recipient</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsSuppilerEmail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SuppliedEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SuppliedEmail</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Supplied_Email_As_Recipient</targetReference>
            </connector>
            <label>IsSuppilerEmail</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <description>CategoryPicklistValues</description>
        <name>CategoryPicklistValues</name>
        <dataType>String</dataType>
        <expression>IF({!$Record.Brandformance__c}, &apos;Brandformance;&apos;, &apos;&apos;) &amp;
IF({!$Record.CaC__c}, &apos;CaC;&apos;, &apos;&apos;) &amp;
IF({!$Record.Email_Evolution__c}, &apos;Email Evolution;&apos;, &apos;&apos;) &amp;
IF({!$Record.One_Search__c}, &apos;One Search;&apos;, &apos;&apos;) &amp;
IF({!$Record.Retail_Media__c}, &apos;Retail Media;&apos;, &apos;&apos;) &amp;
IF({!$Record.Polarsis__c}, &apos;Polarsis;&apos;, &apos;&apos;) &amp;
IF({!$Record.Partnership_Affiliate__c}, &apos;Partnership - Affiliate;&apos;, &apos;&apos;) &amp;
IF({!$Record.Partnership_Amazon__c}, &apos;Partnership - Amazon;&apos;, &apos;&apos;) &amp;
IF({!$Record.Partnership_Google__c}, &apos;Partnership - Google;&apos;, &apos;&apos;) &amp;
IF({!$Record.Partnership_Meta__c}, &apos;Partnership - Meta;&apos;, &apos;&apos;) &amp;
IF({!$Record.Partnership_MSFT__c}, &apos;Partnership - MSFT;&apos;, &apos;&apos;) &amp;
IF({!$Record.Partnership_Snap__c}, &apos;Partnership - Snap;&apos;, &apos;&apos;) &amp;
IF({!$Record.Partnership_The_Trade_Desk__c}, &apos;Partnership - The Trade Desk;&apos;, &apos;&apos;) &amp;
IF({!$Record.Partnership_TikTok__c}, &apos;Partnership - TikTok;&apos;, &apos;&apos;) &amp;
IF({!$Record.Partnership_Other__c}, &apos;Partnership - Other;&apos;, &apos;&apos;) &amp;
IF({!$Record.Category_Other__c}, &apos;Other;&apos;, &apos;&apos;) &amp;
IF({!$Record.AI_Search__c}, &apos;AI Search;&apos;, &apos;&apos;) &amp;
IF({!$Record.AI_Max__c}, &apos;AI Max;&apos;, &apos;&apos;)</expression>
    </formulas>
    <formulas>
        <description>CategoryText</description>
        <name>CategoryText</name>
        <dataType>String</dataType>
        <expression>IF({!$Record.Brandformance__c}, &apos;Brandformance,&apos;, &apos;&apos;) &amp;
IF({!$Record.CaC__c}, &apos;CaC,&apos;, &apos;&apos;) &amp;
IF({!$Record.Email_Evolution__c}, &apos;Email Evolution,&apos;, &apos;&apos;) &amp;
IF({!$Record.One_Search__c}, &apos;One Search,&apos;, &apos;&apos;) &amp;
IF({!$Record.Retail_Media__c}, &apos;Retail Media,&apos;, &apos;&apos;) &amp;
IF({!$Record.Polarsis__c}, &apos;Polarsis,&apos;, &apos;&apos;) &amp;
IF({!$Record.Partnership_Affiliate__c}, &apos;Partnership - Affiliate,&apos;, &apos;&apos;) &amp;
IF({!$Record.Partnership_Amazon__c}, &apos;Partnership - Amazon,&apos;, &apos;&apos;) &amp;
IF({!$Record.Partnership_Google__c}, &apos;Partnership - Google,&apos;, &apos;&apos;) &amp;
IF({!$Record.Partnership_Meta__c}, &apos;Partnership - Meta,&apos;, &apos;&apos;) &amp;
IF({!$Record.Partnership_MSFT__c}, &apos;Partnership - MSFT,&apos;, &apos;&apos;) &amp;
IF({!$Record.Partnership_Snap__c}, &apos;Partnership - Snap,&apos;, &apos;&apos;) &amp;
IF({!$Record.Partnership_The_Trade_Desk__c}, &apos;Partnership - The Trade Desk,&apos;, &apos;&apos;) &amp;
IF({!$Record.Partnership_TikTok__c}, &apos;Partnership - TikTok,&apos;, &apos;&apos;) &amp;
IF({!$Record.Partnership_Other__c}, &apos;Partnership - Other&apos;, &apos;&apos;) &amp;
IF({!$Record.Category_Other__c}, &apos;Other,&apos;, &apos;&apos;) &amp;
IF({!$Record.AI_Search__c}, &apos;AI Search,&apos;, &apos;&apos;) &amp;
IF({!$Record.AI_Max__c}, &apos;AI Max,&apos;, &apos;&apos;)</expression>
    </formulas>
    <formulas>
        <description>DepartmentText</description>
        <name>DepartmentText</name>
        <dataType>String</dataType>
        <expression>IF({!$Record.Affiliate__c}, &apos;Affiliate,&apos;, &apos;&apos;) &amp;
IF({!$Record.Amazon__c}, &apos;Amazon,&apos;, &apos;&apos;) &amp;
IF({!$Record.Client_Services__c}, &apos;Client Services,&apos;, &apos;&apos;) &amp;
IF({!$Record.Content_Marketing__c}, &apos;Content Marketing,&apos;, &apos;&apos;) &amp;
IF({!$Record.Data_Strategy_Analytics__c}, &apos;Data Strategy &amp; Analytics,&apos;, &apos;&apos;) &amp;
IF({!$Record.Digital_Experience__c}, &apos;Digital Experience,&apos;, &apos;&apos;) &amp;
IF({!$Record.Earned_Management__c}, &apos;Earned Management,&apos;, &apos;&apos;) &amp;
IF({!$Record.Email_Lifecycle_Marketing__c}, &apos;Email &amp; Lifecycle Marketing,&apos;, &apos;&apos;) &amp;
IF({!$Record.Influencer__c}, &apos;Influencer,&apos;, &apos;&apos;) &amp;
IF({!$Record.Paid_Management__c}, &apos;Paid Management,&apos;, &apos;&apos;) &amp;
IF({!$Record.Paid_Search__c}, &apos;Paid Search,&apos;, &apos;&apos;) &amp;
IF({!$Record.Performance_Creative__c}, &apos;Performance Creative,&apos;, &apos;&apos;) &amp;
IF({!$Record.Programmatic__c}, &apos;Programmatic,&apos;, &apos;&apos;) &amp;
IF({!$Record.Project_Management__c}, &apos;Project Management,&apos;, &apos;&apos;) &amp;
IF({!$Record.SEO__c}, &apos;SEO,&apos;, &apos;&apos;) &amp;
IF({!$Record.Social__c}, &apos;Social,&apos;, &apos;&apos;) &amp;
IF({!$Record.Strategy__c}, &apos;Strategy,&apos;, &apos;&apos;) &amp;
IF({!$Record.Other__c}, &apos;Other,&apos;, &apos;&apos;)</expression>
    </formulas>
    <formulas>
        <description>DomainURL</description>
        <name>DomainUrl</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_290}, FIND(&quot;/services&quot;, {!$Api.Partner_Server_URL_290}))</expression>
    </formulas>
    <formulas>
        <description>FinalCategoryText</description>
        <name>FinalCategoryText</name>
        <dataType>String</dataType>
        <expression>IF(
  RIGHT(TRIM({!CategoryText}), 1) = &apos;,&apos;,
  LEFT(TRIM({!CategoryText}), LEN(TRIM({!CategoryText})) - 1),
  TRIM({!CategoryText})
)</expression>
    </formulas>
    <formulas>
        <description>FinalDepartmentText</description>
        <name>FinalDepartmentText</name>
        <dataType>String</dataType>
        <expression>IF(
  RIGHT(TRIM({!DepartmentText}), 1) = &apos;,&apos;,
  LEFT(TRIM({!DepartmentText}), LEN(TRIM({!DepartmentText})) - 1),
  TRIM({!DepartmentText})
)</expression>
    </formulas>
    <formulas>
        <description>IsNewRecord</description>
        <name>IsNewRecord</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <description>OpportunityCloseDate</description>
        <name>OpportunityCloseDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Case After Insert/Update Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case After Insert/Update Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>314</locationX>
        <locationY>576</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Ownership_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Client_Services_Lead</name>
        <label>Get Client Services Lead</label>
        <locationX>1084</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_CSL_Have_Slack_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.Client_Services_Lead_Lookup__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Set_CSL_Slack_Message_Sent</name>
        <label>Set CSL Slack Message Sent</label>
        <locationX>952</locationX>
        <locationY>708</locationY>
        <inputAssignments>
            <field>CSL_Slack_Message_Sent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Owner_to_Client_Services_Lead</name>
        <label>Set Owner to Client Services Lead</label>
        <locationX>50</locationX>
        <locationY>792</locationY>
        <connector>
            <targetReference>Is_Case_Created</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Account.Client_Services_Lead_Lookup__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Owner_to_Group_Account_Director</name>
        <label>Set Owner to Group Account Director</label>
        <locationX>314</locationX>
        <locationY>792</locationY>
        <connector>
            <targetReference>Is_Case_Created</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Account.Group_Account_Director_Lookup__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>782</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Case_Inserted_Updated</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>Run_Async</name>
            <connector>
                <targetReference>Send_Slack_to_Client_Services_Lead_Decision</targetReference>
            </connector>
            <label>Run Async</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>CreatedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <description>Case_Email_Template</description>
        <name>Case_Email_Template</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>First Name: {!$Record.First_Name__c}
Last Name: {!$Record.Last_Name__c}
Email: {!$Record.SuppliedEmail}
CID: {!$Record.CID_copy_paste_from_Polaris__c}
Department: {!$Record.Department__c}
Idea Type: {!$Record.Idea_Type__c}
Departments with Potential Revenue Impact:  {!FinalDepartmentText}
Categories: {!FinalCategoryText}
Average Monthly Paid Media Spend: {!$Record.Average_Monthly_Paid_Media_Spend__c}
If the client does not have SEO services with Wpromote do they have another SEO agency or in-house team? {!$Record.SEO_Agency_or_In_House_Team__c}
What are the client&apos;s development/implementation capabilities? {!$Record.Development_Implementation_Capabilities__c}
What are the client&apos;s content creation capabilities? {!$Record.Content_Creation_Capabilities__c}
Short Description: {!$Record.Short_Description_of_Growth_Idea__c}
Estimated Monthly Revenue: {!$Record.Estimated_Monthly_Revenue__c}</text>
    </textTemplates>
    <textTemplates>
        <name>CaseCreatedSlackMessage</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>New Growth Idea Submitted
Submitter: {!$Record.SuppliedEmail}
Client Name: {!$Record.Account.Name}

Idea Summary: {!$Record.Short_Description_of_Growth_Idea__c}
Action: Please review the new growth idea here and take necessary action
Link to Case: {!DomainUrl}{!$Record.Id}</text>
    </textTemplates>
    <variables>
        <description>Case Email Recipients</description>
        <name>Case_Email_Recipients</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SlackMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Hi</stringValue>
        </value>
    </variables>
</Flow>
