examples/flows/Case_Create_Opportunity_Screen_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Assign Opportunity Values from Case</description>
        <name>Assign_Opportunity_Values_from_Case</name>
        <label>Assign Opportunity Values from Case</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Assign_Case_values_to_Create_Opportunity.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case.Account.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Assign_Case_values_to_Create_Opportunity.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpportunityCloseDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Assign_Case_values_to_Create_Opportunity.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity_Client_Record_type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Assign_Case_values_to_Create_Opportunity.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Evaluation</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Assign_Case_values_to_Create_Opportunity.Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CategoryPicklistValues</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Assign_Case_values_to_Create_Opportunity.GIO__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Assign_Case_values_to_Create_Opportunity.Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpportunityCloseDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Opportunity_from_Case</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Case_Status</name>
        <label>Check Case Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>BadStatusScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Opp_Already_Created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case.Opportunity_Created__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Opportunity</targetReference>
            </connector>
            <label>Opp Already Created</label>
        </rules>
        <rules>
            <name>Case_in_Good_Status</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved, CS Opportunity</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved, Non-CS Opportunity</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ConfirmScreen</targetReference>
            </connector>
            <label>Case in Good Status</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check Opportunity record type</description>
        <name>Check_Opportunity_record_type</name>
        <label>Check Opportunity record type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Create_Opportunity_from_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsClientServiceRecordType</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity_Client_Record_type</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Opportunity_Values_from_Case</targetReference>
            </connector>
            <label>IsClientServiceRecordType</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_Case_Found</name>
        <label>Was Case Found</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>CaseNotFoundScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Case_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Case_Status</targetReference>
            </connector>
            <label>Case Found</label>
        </rules>
    </decisions>
    <description>Screen Flow to create an Opportunity from a Case</description>
    <environments>Default</environments>
    <formulas>
        <description>CategoryPicklistValues</description>
        <name>CategoryPicklistValues</name>
        <dataType>String</dataType>
        <expression>IF({!Get_Case.Brandformance__c}, &apos;Brandformance;&apos;, &apos;&apos;) &amp;
IF({!Get_Case.CaC__c}, &apos;CaC;&apos;, &apos;&apos;) &amp;
IF({!Get_Case.Email_Evolution__c}, &apos;Email Evolution;&apos;, &apos;&apos;) &amp;
IF({!Get_Case.One_Search__c}, &apos;One Search;&apos;, &apos;&apos;) &amp;
IF({!Get_Case.Retail_Media__c}, &apos;Retail Media;&apos;, &apos;&apos;) &amp;
IF({!Get_Case.Polarsis__c}, &apos;Polarsis;&apos;, &apos;&apos;) &amp;
IF({!Get_Case.Partnership_Affiliate__c}, &apos;Partnership - Affiliate;&apos;, &apos;&apos;) &amp;
IF({!Get_Case.Partnership_Amazon__c}, &apos;Partnership - Amazon;&apos;, &apos;&apos;) &amp;
IF({!Get_Case.Partnership_Google__c}, &apos;Partnership - Google;&apos;, &apos;&apos;) &amp;
IF({!Get_Case.Partnership_Meta__c}, &apos;Partnership - Meta;&apos;, &apos;&apos;) &amp;
IF({!Get_Case.Partnership_MSFT__c}, &apos;Partnership - MSFT;&apos;, &apos;&apos;) &amp;
IF({!Get_Case.Partnership_Snap__c}, &apos;Partnership - Snap;&apos;, &apos;&apos;) &amp;
IF({!Get_Case.Partnership_The_Trade_Desk__c}, &apos;Partnership - The Trade Desk;&apos;, &apos;&apos;) &amp;
IF({!Get_Case.Partnership_TikTok__c}, &apos;Partnership - TikTok;&apos;, &apos;&apos;) &amp;
IF({!Get_Case.Partnership_Other__c}, &apos;Partnership - Other;&apos;, &apos;&apos;) &amp;
IF({!Get_Case.Category_Other__c}, &apos;Other;&apos;, &apos;&apos;) &amp;
IF({!Get_Case.AI_Search__c}, &apos;AI Search;&apos;, &apos;&apos;) &amp;
IF({!Get_Case.AI_Max__c}, &apos;AI Max;&apos;, &apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>ExistingOppLink</name>
        <dataType>String</dataType>
        <expression>&quot;/&quot; + {!Get_Opportunity.Id}</expression>
    </formulas>
    <formulas>
        <name>NewOppLink</name>
        <dataType>String</dataType>
        <expression>&quot;/&quot; + {!Assign_Case_values_to_Create_Opportunity.Id}</expression>
    </formulas>
    <formulas>
        <description>OpportunityCloseDate</description>
        <name>OpportunityCloseDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Case - Create Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case - Create Opportunity Screen Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Create Opportunity from Case</description>
        <name>Create_Opportunity_from_Case</name>
        <label>Create Opportunity from Case</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorScreen</targetReference>
        </faultConnector>
        <inputReference>Assign_Case_values_to_Create_Opportunity</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Case</name>
        <label>Get Case</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Was_Case_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>OppExistsScreen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Opportunity Client Record type</description>
        <name>Get_Opportunity_Client_Record_type</name>
        <label>Get Opportunity Client Record type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Opportunity_record_type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Client Services</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>SuccessScreen</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>ErrorScreen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Opportunity_Created__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <screens>
        <name>BadStatusScreen</name>
        <label>BadStatusScreen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>BadStatusText</name>
            <fieldText>&lt;p&gt;Case can only be converted to an Opportunity when it is in Approved status. Please approve first, and then create the Opportunity&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>CaseNotFoundScreen</name>
        <label>CaseNotFoundScreen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>CaseNotFoundText</name>
            <fieldText>&lt;p&gt;Case Not Found&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ConfirmScreen</name>
        <label>ConfirmScreen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Case_values_to_Create_Opportunity</targetReference>
        </connector>
        <fields>
            <name>ConfirmMessage</name>
            <fieldText>&lt;p&gt;Clicking Next will create an Opportunity from this Case. Are you sure you want to proceed?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ErrorScreen</name>
        <label>ErrorScreen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorText</name>
            <fieldText>&lt;p&gt;There was an error in this flow: &lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>OppExistsScreen</name>
        <label>OppExistsScreen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>OppExistsText</name>
            <fieldText>&lt;p&gt;An Opportunity already exists for this Case. &lt;a href=&quot;{!ExistingOppLink}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Click Here to View It&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SuccessScreen</name>
        <label>SuccessScreen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessMessage</name>
            <fieldText>&lt;p&gt;Opportunity has been successfully created from this Case.&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;{!NewOppLink}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Click Here to Open the Opportunity&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Case</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <transforms>
        <description>Assign Case values to Create Opportunity</description>
        <name>Assign_Case_values_to_Create_Opportunity</name>
        <label>Assign Case values to Create Opportunity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opportunity_Client_Record_type</targetReference>
        </connector>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <objectType>Opportunity</objectType>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <outputFieldApiName>AccountId</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Case.AccountId</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Affiliate__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Case.Affiliate__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Amazon_SMB__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Case.Amazon__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Content_Marketing__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Case.Content_Marketing__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Digital_Intelligence__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Case.Digital_Experience__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Earned_Strategist__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Case.Earned_Management__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>SAM__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Case.Client_Services__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Email__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Case.Email_Lifecycle_Marketing__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Influence_Marketing__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Case.Influencer__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>PPC__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Case.Paid_Search__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Creative__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Case.Performance_Creative__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Programmatic__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Case.Programmatic__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Project_Management__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Case.Project_Management__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>SEO__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Case.SEO__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Social__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Case.Social__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Media_Strategist__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Case.Data_Strategy_Analytics__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Strategy_Planning__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Case.Strategy__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Other__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Case.Other__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Case__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Case.Id</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Department__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Case.Department__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Submitted_By__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Case.Submitted_By__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Date_Time_Opened__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Case.CreatedDate</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Idea_Details__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Case.Short_Description_of_Growth_Idea__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>OwnerId</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Case.OwnerId</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Average_Monthly_Paid_Media_Spend__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Case.Average_Monthly_Paid_Media_Spend__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>SEO_Agency_or_In_House_Team__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Case.SEO_Agency_or_In_House_Team__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Development_Implementation_Capabilities__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Case.Development_Implementation_Capabilities__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Content_Creation_Capabilities__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Case.Content_Creation_Capabilities__c</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
