examples/flows/Opportunity_Before_Insert_Update_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <description>Assign Attributed campaign on opp details</description>
        <name>Assign_Attributed_campaign_on_opp_details</name>
        <label>Assign Attributed campaign on opp details</label>
        <locationX>314</locationX>
        <locationY>2627</locationY>
        <assignmentItems>
            <assignToReference>$Record.Opp_Source_Details__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Attributed_Campaign__r.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Opp_Source_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Attributed campaign on opp details on update</description>
        <name>Assign_Attributed_campaign_on_opp_details_on_update</name>
        <label>Assign Attributed campaign on opp details on update</label>
        <locationX>1711</locationX>
        <locationY>3011</locationY>
        <assignmentItems>
            <assignToReference>$Record.Opp_Source_Details__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Attributed_Campaign__r.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Stage_Change_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Close date as today when won or lost</description>
        <name>Assign_Close_date_as_today_when_won_or_lost</name>
        <label>Assign Close date as today when won or lost</label>
        <locationX>1810</locationX>
        <locationY>803</locationY>
        <assignmentItems>
            <assignToReference>$Record.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Opportunity_Record_Type_is_Client_Service</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Diligence as Yes</description>
        <name>Assign_Diligence_as_Yes</name>
        <label>Assign Diligence as Yes</label>
        <locationX>1810</locationX>
        <locationY>2495</locationY>
        <assignmentItems>
            <assignToReference>$Record.Diligence_Planning__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Primary_Contact_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign executive sponsor on insert</description>
        <name>Assign_Executive_Sponsor_on_Insert</name>
        <label>Assign Executive Sponsor on Insert</label>
        <locationX>413</locationX>
        <locationY>1703</locationY>
        <assignmentItems>
            <assignToReference>$Record.Executive_Sponsor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.Executive_Sponsor_Lookup__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Primary_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign group director on insert</description>
        <name>Assign_group_director_on_insert</name>
        <label>Assign group director on insert</label>
        <locationX>413</locationX>
        <locationY>1103</locationY>
        <assignmentItems>
            <assignToReference>$Record.Group_Account_Director__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.Group_Account_Director_Lookup__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Account_Managing_Director_on_Insert</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign group director on update</description>
        <name>Assign_group_director_on_update</name>
        <label>Assign group director on update</label>
        <locationX>1810</locationX>
        <locationY>1895</locationY>
        <assignmentItems>
            <assignToReference>$Record.Group_Account_Director__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.Group_Account_Director_Lookup__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Account_Managing_Director_on_update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Is In contracts stage date time on update</description>
        <name>Assign_Is_In_contracts_stage_date_time_on_update</name>
        <label>Assign Is In contracts stage date time on update</label>
        <locationX>1788</locationX>
        <locationY>1211</locationY>
        <assignmentItems>
            <assignToReference>$Record.In_Contracts_Stage_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Account_CID_value_on_update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Is Under Review by client stage date time on update</description>
        <name>Assign_Is_Under_Review_by_client_stage_date_time_on_update</name>
        <label>Assign Is Under Review by client stage date time on update</label>
        <locationX>1524</locationX>
        <locationY>1211</locationY>
        <assignmentItems>
            <assignToReference>$Record.Under_Review_by_Client_Stage_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Account_CID_value_on_update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign managing director on insert</description>
        <name>Assign_managing_director_on_insert</name>
        <label>Assign managing director on insert</label>
        <locationX>413</locationX>
        <locationY>1403</locationY>
        <assignmentItems>
            <assignToReference>$Record.Managing_Director__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.Managing_Director__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Account_Executive_Sponsor_On_Insert</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign managing director on update</description>
        <name>Assign_managing_director_on_update</name>
        <label>Assign managing director on update</label>
        <locationX>1810</locationX>
        <locationY>2195</locationY>
        <assignmentItems>
            <assignToReference>$Record.Managing_Director__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.Managing_Director__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Stage_and_Diligence_type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Opportunity CID on insert</description>
        <name>Assign_Opportunity_CID_on_insert</name>
        <label>Assign Opportunity CID on insert</label>
        <locationX>413</locationX>
        <locationY>803</locationY>
        <assignmentItems>
            <assignToReference>$Record.CID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.Bixby_ID__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Account_Group_Director_on_Insert</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Opportunity CID on update</description>
        <name>Assign_Opportunity_CID_on_update</name>
        <label>Assign Opportunity CID on update</label>
        <locationX>1810</locationX>
        <locationY>1595</locationY>
        <assignmentItems>
            <assignToReference>$Record.CID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.Bixby_ID__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Account_Group_Director_on_update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Organic on opp details</description>
        <name>Assign_Organic_on_opp_details</name>
        <label>Assign Organic on opp details</label>
        <locationX>578</locationX>
        <locationY>2627</locationY>
        <assignmentItems>
            <assignToReference>$Record.Opp_Source_Details__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Organic</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Opp_Source_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Organic on opp details on update</description>
        <name>Assign_Organic_on_opp_details_on_update</name>
        <label>Assign Organic on opp details on update</label>
        <locationX>1975</locationX>
        <locationY>3011</locationY>
        <assignmentItems>
            <assignToReference>$Record.Opp_Source_Details__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Organic</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Stage_Change_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Partner as profound in insert</description>
        <name>Assign_Partner_as_profound_in_insert</name>
        <label>Assign Partner as profound in insert</label>
        <locationX>413</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>$Record.Partner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Profound</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Account_CID_value_on_insert</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Partner as profound in update</description>
        <name>Assign_Partner_as_profound_in_update</name>
        <label>Assign Partner as profound in update</label>
        <locationX>1810</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>$Record.Partner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Profound</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Opportunity_Stage_changed_to_ClosedWonorLost</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Presentation stage date time on update</description>
        <name>Assign_Presentation_stage_date_time_on_update</name>
        <label>Assign Presentation stage date time on update</label>
        <locationX>1260</locationX>
        <locationY>1211</locationY>
        <assignmentItems>
            <assignToReference>$Record.Presentation_Stage_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Account_CID_value_on_update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign UTM Campaign LastTouch on opp details</description>
        <name>Assign_UTM_Campaign_LastTouch_on_opp_details</name>
        <label>Assign UTM Campaign LastTouch on opp details</label>
        <locationX>50</locationX>
        <locationY>2519</locationY>
        <assignmentItems>
            <assignToReference>$Record.Opp_Source_Details__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Primary_Contact__r.UTM_Campaign_LastTouch__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Opp_Source_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign UTM Campaign LastTouch on opp details on update</description>
        <name>Assign_UTM_Campaign_LastTouch_on_opp_details_on_update</name>
        <label>Assign UTM Campaign LastTouch on opp details on update</label>
        <locationX>1447</locationX>
        <locationY>2903</locationY>
        <assignmentItems>
            <assignToReference>$Record.Opp_Source_Details__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Primary_Contact__r.UTM_Campaign_LastTouch__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Stage_Change_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Awaiting_Signature_Stage_Date_Time</name>
        <label>Set Awaiting Signature Stage Date/Time</label>
        <locationX>2074</locationX>
        <locationY>3479</locationY>
        <assignmentItems>
            <assignToReference>$Record.Awaiting_Signature_Stage_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Opp_Source_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Closed_Lost_Stage_Date_Time</name>
        <label>Set Closed Lost Stage Date/Time</label>
        <locationX>2602</locationX>
        <locationY>3479</locationY>
        <assignmentItems>
            <assignToReference>$Record.Closed_Lost_Stage_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Opp_Source_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Closed_Won_Stage_Date_Time</name>
        <label>Set Closed Won Stage Date/Time</label>
        <locationX>2338</locationX>
        <locationY>3479</locationY>
        <assignmentItems>
            <assignToReference>$Record.Closed_Won_Stage_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Opp_Source_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Negotiation_Stage_Date_Time</name>
        <label>Set Negotiation Stage Date/Time</label>
        <locationX>1810</locationX>
        <locationY>3479</locationY>
        <assignmentItems>
            <assignToReference>$Record.Awaiting_Signature_Stage_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Opp_Source_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Pitch_Presented_Stage_Date_Time</name>
        <label>Set Pitch Presented Stage Date/Time</label>
        <locationX>1282</locationX>
        <locationY>3479</locationY>
        <assignmentItems>
            <assignToReference>$Record.Pitch_Presented_Stage_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Opp_Source_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Planning_Stage_Date_Time</name>
        <label>Set Planning Stage Date/Time</label>
        <locationX>1018</locationX>
        <locationY>3479</locationY>
        <assignmentItems>
            <assignToReference>$Record.Planning_Stage_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Opp_Source_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Proposal_Stage_Date_Time</name>
        <label>Set Proposal Stage Date/Time</label>
        <locationX>1546</locationX>
        <locationY>3479</locationY>
        <assignmentItems>
            <assignToReference>$Record.Proposal_Stage_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Opp_Source_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Update Attributed Campaign in Opportunity</description>
        <name>Update_Attributed_Campaign_in_Opportunity</name>
        <label>Update Attributed Campaign in Opportunity</label>
        <locationX>116</locationX>
        <locationY>2219</locationY>
        <assignmentItems>
            <assignToReference>$Record.Attributed_Campaign__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Campaign_based_on_Primary_Contact.CampaignId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_UTM_Campaign_LastTouch_on_primary_contact</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Check Account CID value on insert</description>
        <name>Check_Account_CID_value_on_insert</name>
        <label>Check Account CID value on insert</label>
        <locationX>545</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>Check_Account_Group_Director_on_Insert</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsAccountCIDOnInsert</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Bixby_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Opportunity_CID_on_insert</targetReference>
            </connector>
            <label>IsAccountCIDOnInsert</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check Account CID value on update</description>
        <name>Check_Account_CID_value_on_update</name>
        <label>Check Account CID value on update</label>
        <locationX>1942</locationX>
        <locationY>1487</locationY>
        <defaultConnector>
            <targetReference>Check_Account_Group_Director_on_update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsAccountCIDOnUpdate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Opportunity_CID_on_update</targetReference>
            </connector>
            <label>IsAccountCIDOnUpdate</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Account_Executive_Sponsor_On_Insert</name>
        <label>Check Account Executive Sponsor On Insert</label>
        <locationX>545</locationX>
        <locationY>1595</locationY>
        <defaultConnector>
            <targetReference>Check_Primary_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsExecutiveSponsorOnInsert</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Executive_Sponsor_Lookup__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Executive_Sponsor_on_Insert</targetReference>
            </connector>
            <label>IsExecutiveSponsorOnInsert</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check Account Group Director on Insert</description>
        <name>Check_Account_Group_Director_on_Insert</name>
        <label>Check Account Group Director on Insert</label>
        <locationX>545</locationX>
        <locationY>995</locationY>
        <defaultConnector>
            <targetReference>Check_Account_Managing_Director_on_Insert</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsGroupDirectorOnInsert</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Group_Account_Director_Lookup__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_group_director_on_insert</targetReference>
            </connector>
            <label>IsGroupDirectorOnInsert</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check Account Group Director on update</description>
        <name>Check_Account_Group_Director_on_update</name>
        <label>Check Account Group Director on update</label>
        <locationX>1942</locationX>
        <locationY>1787</locationY>
        <defaultConnector>
            <targetReference>Check_Account_Managing_Director_on_update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsGroupDirectorOnupdate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Group_Account_Director_Lookup__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_group_director_on_update</targetReference>
            </connector>
            <label>IsGroupDirectorOnupdate</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check Account Managing Director on Insert</description>
        <name>Check_Account_Managing_Director_on_Insert</name>
        <label>Check Account Managing Director on Insert</label>
        <locationX>545</locationX>
        <locationY>1295</locationY>
        <defaultConnector>
            <targetReference>Check_Account_Executive_Sponsor_On_Insert</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsManagingDirectorOnInsert</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Managing_Director__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_managing_director_on_insert</targetReference>
            </connector>
            <label>IsManagingDirectorOnInsert</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check Account Managing Director on update</description>
        <name>Check_Account_Managing_Director_on_update</name>
        <label>Check Account Managing Director on update</label>
        <locationX>1942</locationX>
        <locationY>2087</locationY>
        <defaultConnector>
            <targetReference>Check_Stage_and_Diligence_type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsManagingDirectorOnUpdate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Managing_Director__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_managing_director_on_update</targetReference>
            </connector>
            <label>IsManagingDirectorOnUpdate</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check Attributed Campaign on opportunity</description>
        <name>Check_Attributed_Campaign_on_opportunity</name>
        <label>Check Attributed Campaign on opportunity</label>
        <locationX>446</locationX>
        <locationY>2519</locationY>
        <defaultConnector>
            <targetReference>Assign_Organic_on_opp_details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsAttributedCampaign</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Attributed_Campaign__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Attributed_campaign_on_opp_details</targetReference>
            </connector>
            <label>IsAttributedCampaign</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check Attributed Campaign on opportunity on update</description>
        <name>Check_Attributed_Campaign_on_opportunity_on_update</name>
        <label>Check Attributed Campaign on opportunity on update</label>
        <locationX>1843</locationX>
        <locationY>2903</locationY>
        <defaultConnector>
            <targetReference>Assign_Organic_on_opp_details_on_update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsAttributedCampaignOnUpdate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Attributed_Campaign__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Attributed_campaign_on_opp_details_on_update</targetReference>
            </connector>
            <label>IsAttributedCampaignOnUpdate</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check Category is AI Search</description>
        <name>Check_Category_is_AI_Search</name>
        <label>Check Category is AI Search</label>
        <locationX>545</locationX>
        <locationY>395</locationY>
        <defaultConnector>
            <targetReference>Check_Account_CID_value_on_insert</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsCategoryAISearch</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Category__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>AI Search</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Partner_as_profound_in_insert</targetReference>
            </connector>
            <label>IsCategoryAISearch</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check Category is AI Search on Update</description>
        <name>Check_Category_is_AI_Search_on_Update</name>
        <label>Check Category is AI Search on Update</label>
        <locationX>1942</locationX>
        <locationY>395</locationY>
        <defaultConnector>
            <targetReference>Check_Opportunity_Stage_changed_to_ClosedWonorLost</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsCategoryAISearchonUpdate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Category__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>AI Search</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Category__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Partner_as_profound_in_update</targetReference>
            </connector>
            <label>IsCategoryAISearchonUpdate</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check Client Service Opportunity stage change</description>
        <name>Check_Client_Service_Opportunity_stage_change</name>
        <label>Check Client Service Opportunity stage change</label>
        <locationX>1656</locationX>
        <locationY>1103</locationY>
        <defaultConnector>
            <targetReference>Check_Account_CID_value_on_update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsPresentation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Presentation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Presentation_Stage_Date_Time__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Presentation_stage_date_time_on_update</targetReference>
            </connector>
            <label>IsPresentation</label>
        </rules>
        <rules>
            <name>IsUnderReviewbyClient</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Under Review by Client</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Under_Review_by_Client_Stage_Date_Time__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Is_Under_Review_by_client_stage_date_time_on_update</targetReference>
            </connector>
            <label>IsUnderReviewbyClient</label>
        </rules>
        <rules>
            <name>InContracts</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Contracts</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.In_Contracts_Stage_Date_Time__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Is_In_contracts_stage_date_time_on_update</targetReference>
            </connector>
            <label>InContracts</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check Opportunity Record Type is Client Service</description>
        <name>Check_Opportunity_Record_Type_is_Client_Service</name>
        <label>Check Opportunity Record Type is Client Service</label>
        <locationX>1942</locationX>
        <locationY>995</locationY>
        <defaultConnector>
            <targetReference>Check_Account_CID_value_on_update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsClientServicesRecordTypeOpportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Presentation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Client_Service_Opportunity_stage_change</targetReference>
            </connector>
            <label>IsClientServicesRecordTypeOpportunity</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check Opportunity Stage changed to ClosedWonorLost</description>
        <name>Check_Opportunity_Stage_changed_to_ClosedWonorLost</name>
        <label>Check Opportunity Stage changed to ClosedWonorLost</label>
        <locationX>1942</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>Check_Opportunity_Record_Type_is_Client_Service</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsClosedWonorLostStage</name>
            <conditionLogic>1 AND (2 OR 3) AND (4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Lost</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Agency Sales</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Client Services</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Close_date_as_today_when_won_or_lost</targetReference>
            </connector>
            <label>IsClosedWonorLostStage</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Primary_Contact</name>
        <label>Check Primary Contact</label>
        <locationX>545</locationX>
        <locationY>1895</locationY>
        <defaultConnector>
            <targetReference>Opp_Source_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Primary_Contact_is_Set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Primary_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Primary_Contact__r.MQL__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Campaign_based_on_Primary_Contact</targetReference>
            </connector>
            <label>Primary Contact is Set</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check Primary Contact Campaign</description>
        <name>Check_Primary_Contact_Campaign</name>
        <label>Check Primary Contact Campaign</label>
        <locationX>248</locationX>
        <locationY>2111</locationY>
        <defaultConnector>
            <targetReference>Check_UTM_Campaign_LastTouch_on_primary_contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsCampaign</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_based_on_Primary_Contact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Attributed_Campaign_in_Opportunity</targetReference>
            </connector>
            <label>IsCampaign</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Primary_Contact_Update</name>
        <label>Check Primary Contact Update</label>
        <locationX>1942</locationX>
        <locationY>2687</locationY>
        <defaultConnector>
            <targetReference>Stage_Change_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Primary_Contact_Set_or_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Primary_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Primary_Contact__r.MQL__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Primary_Contact__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Primary_Contact__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_UTM_Campaign_LastTouch_on_primary_contact_on_update</targetReference>
            </connector>
            <label>Primary Contact Set or Changed</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check Stage and Diligence type</description>
        <name>Check_Stage_and_Diligence_type</name>
        <label>Check Stage and Diligence type</label>
        <locationX>1942</locationX>
        <locationY>2387</locationY>
        <defaultConnector>
            <targetReference>Check_Primary_Contact_Update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsDiligency</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Planning</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Diligence</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Diligence_Planning__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Diligence_as_Yes</targetReference>
            </connector>
            <label>IsDiligency</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check UTM Campaign LastTouch on primary contact</description>
        <name>Check_UTM_Campaign_LastTouch_on_primary_contact</name>
        <label>Check UTM Campaign LastTouch on primary contact</label>
        <locationX>248</locationX>
        <locationY>2411</locationY>
        <defaultConnector>
            <targetReference>Check_Attributed_Campaign_on_opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsUTMCampaignLastTouch</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Primary_Contact__r.UTM_Campaign_LastTouch__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_UTM_Campaign_LastTouch_on_opp_details</targetReference>
            </connector>
            <label>IsUTMCampaignLastTouch</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check UTM Campaign LastTouch on primary contact on update</description>
        <name>Check_UTM_Campaign_LastTouch_on_primary_contact_on_update</name>
        <label>Check UTM Campaign LastTouch on primary contact on update</label>
        <locationX>1645</locationX>
        <locationY>2795</locationY>
        <defaultConnector>
            <targetReference>Check_Attributed_Campaign_on_opportunity_on_update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsUTMCampaignLastTouchonUpdate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Primary_Contact__r.UTM_Campaign_LastTouch__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_UTM_Campaign_LastTouch_on_opp_details_on_update</targetReference>
            </connector>
            <label>IsUTMCampaignLastTouchonUpdate</label>
        </rules>
    </decisions>
    <decisions>
        <description>Insert/Update</description>
        <name>Insert_Update</name>
        <label>Insert/Update</label>
        <locationX>1243</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>Check_Category_is_AI_Search_on_Update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsInsert</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Category_is_AI_Search</targetReference>
            </connector>
            <label>IsInsert</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check Lead source</description>
        <name>Opp_Source_Decision</name>
        <label>Opp Source Decision</label>
        <locationX>1243</locationX>
        <locationY>3755</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Primary_Contact_MQL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Primary_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Primary_Contact__r.MQL__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_opp_source_as_Marketing</targetReference>
            </connector>
            <label>Primary Contact MQL</label>
        </rules>
        <rules>
            <name>Bypass</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Bypass</label>
        </rules>
        <rules>
            <name>IsLeadSourcePartners</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Lead_Source__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Lead_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Partners</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opp_Source_as_Partner</targetReference>
            </connector>
            <label>IsLeadSourcePartners</label>
        </rules>
        <rules>
            <name>IsLeadSourcePrivate_Equity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Lead_Source__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Lead_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Private Equity</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opp_Source_as_PE</targetReference>
            </connector>
            <label>IsLeadSourcePrivate Equity</label>
        </rules>
        <rules>
            <name>IsLeadSourceConsultant</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Lead_Source__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Lead_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Consultant</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opp_Source_as_Consultants</targetReference>
            </connector>
            <label>IsLeadSourceConsultant</label>
        </rules>
        <rules>
            <name>IsLeadSourceOutbound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Lead_Source__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Lead_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Outbound Generated</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opp_Source_as_Sales</targetReference>
            </connector>
            <label>IsLeadSourceOutbound</label>
        </rules>
    </decisions>
    <decisions>
        <name>Stage_Change_Decision</name>
        <label>Stage Change Decision</label>
        <locationX>1942</locationX>
        <locationY>3371</locationY>
        <defaultConnector>
            <targetReference>Opp_Source_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Planning_Stage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Planning</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Planning_Stage_Date_Time__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Planning_Stage_Date_Time</targetReference>
            </connector>
            <label>Planning Stage</label>
        </rules>
        <rules>
            <name>Pitch_Presented_Stage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pitch Presented</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Pitch_Presented_Stage_Date_Time__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Pitch_Presented_Stage_Date_Time</targetReference>
            </connector>
            <label>Pitch Presented Stage</label>
        </rules>
        <rules>
            <name>Proposal_Stage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Proposal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Proposal_Stage_Date_Time__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Proposal_Stage_Date_Time</targetReference>
            </connector>
            <label>Proposal Stage</label>
        </rules>
        <rules>
            <name>Negotiation_Stage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Negotiation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Negotiation_Stage_Date_Time__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Negotiation_Stage_Date_Time</targetReference>
            </connector>
            <label>Negotiation Stage</label>
        </rules>
        <rules>
            <name>Awaiting_Signature_Stage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Awaiting Signature</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Awaiting_Signature_Stage_Date_Time__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Awaiting_Signature_Stage_Date_Time</targetReference>
            </connector>
            <label>Awaiting Signature Stage</label>
        </rules>
        <rules>
            <name>Closed_Won_Stage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Closed_Won_Stage_Date_Time__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Closed_Won_Stage_Date_Time</targetReference>
            </connector>
            <label>Closed Won Stage</label>
        </rules>
        <rules>
            <name>Closed_Lost_Stage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Lost</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Closed_Lost_Stage_Date_Time__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Closed_Lost_Stage_Date_Time</targetReference>
            </connector>
            <label>Closed Lost Stage</label>
        </rules>
    </decisions>
    <description>Opportunity Before Insert/Update Flow</description>
    <environments>Default</environments>
    <formulas>
        <description>CurrentDate</description>
        <name>CurrentDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <description>IsNew</description>
        <name>IsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Opportunity Before Insert/Update Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity Before Insert/Update Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get Campaign based on Primary Contact</description>
        <name>Get_Campaign_based_on_Primary_Contact</name>
        <label>Get Campaign based on Primary Contact</label>
        <locationX>248</locationX>
        <locationY>2003</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Primary_Contact_Campaign</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Primary_Contact__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>HasResponded</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CampaignMember</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Update Opp Source as Consultants</description>
        <name>Update_Opp_Source_as_Consultants</name>
        <label>Update Opp Source as Consultants</label>
        <locationX>1507</locationX>
        <locationY>3863</locationY>
        <inputAssignments>
            <field>Opp_Source__c</field>
            <value>
                <stringValue>Consultants</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Update opp source as Marketing</description>
        <name>Update_opp_source_as_Marketing</name>
        <label>Update opp source as Marketing</label>
        <locationX>451</locationX>
        <locationY>3863</locationY>
        <inputAssignments>
            <field>Opp_Source__c</field>
            <value>
                <stringValue>Marketing</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Update Opp Source as Partner</description>
        <name>Update_Opp_Source_as_Partner</name>
        <label>Update Opp Source as Partner</label>
        <locationX>979</locationX>
        <locationY>3863</locationY>
        <inputAssignments>
            <field>Opp_Source__c</field>
            <value>
                <stringValue>Partner</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Update Opp Source as PE</description>
        <name>Update_Opp_Source_as_PE</name>
        <label>Update Opp Source as PE</label>
        <locationX>1243</locationX>
        <locationY>3863</locationY>
        <inputAssignments>
            <field>Opp_Source__c</field>
            <value>
                <stringValue>PE</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Update Opp Source as Sales</description>
        <name>Update_Opp_Source_as_Sales</name>
        <label>Update Opp Source as Sales</label>
        <locationX>1771</locationX>
        <locationY>3863</locationY>
        <inputAssignments>
            <field>Opp_Source__c</field>
            <value>
                <stringValue>Sales</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1117</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Insert_Update</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
