examples/flows/Scheduled_Flow_Case_Object.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Beneficiary_Update_Processing_Task</name>
        <label>Create Beneficiary Update Processing Task</label>
        <locationX>402</locationX>
        <locationY>1452</locationY>
        <actionName>NewOperationsTask</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>Loop_Through_Cases</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>Loop_Through_Cases.OwnerId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Description</name>
            <value>
                <elementReference>beneficiaryUpdateProcessingTaskDescription</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WhoId</name>
            <value>
                <elementReference>Loop_Through_Cases.Account.PersonContactId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WhatId</name>
            <value>
                <elementReference>Loop_Through_Cases.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <elementReference>caseTaskSubject</elementReference>
            </value>
        </inputParameters>
        <nameSegment>NewOperationsTask</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Create_Death_Benefit_Processing_Task</name>
        <label>Create Death Benefit Processing Task</label>
        <locationX>138</locationX>
        <locationY>1452</locationY>
        <actionName>NewOperationsTask</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>Loop_Through_Cases</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>Loop_Through_Cases.OwnerId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Description</name>
            <value>
                <elementReference>deathBenefitProcessingTaskDescription</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WhoId</name>
            <value>
                <elementReference>Loop_Through_Cases.Account.PersonContactId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WhatId</name>
            <value>
                <elementReference>Loop_Through_Cases.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <elementReference>caseTaskSubject</elementReference>
            </value>
        </inputParameters>
        <nameSegment>NewOperationsTask</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Create_Enrollment_Processing_Task</name>
        <label>Create Enrollment Processing Task</label>
        <locationX>666</locationX>
        <locationY>1452</locationY>
        <actionName>NewOperationsTask</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>Loop_Through_Cases</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>Loop_Through_Cases.OwnerId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Description</name>
            <value>
                <elementReference>enrollmentProcessingTaskDescription</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WhoId</name>
            <value>
                <elementReference>Loop_Through_Cases.Account.PersonContactId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WhatId</name>
            <value>
                <elementReference>Loop_Through_Cases.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <elementReference>caseTaskSubject</elementReference>
            </value>
        </inputParameters>
        <nameSegment>NewOperationsTask</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Create_Miscellaneous_Forms_Processing_Task</name>
        <label>Create Miscellaneous Forms Processing Task</label>
        <locationX>930</locationX>
        <locationY>1452</locationY>
        <actionName>NewOperationsTask</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>Loop_Through_Cases</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>Loop_Through_Cases.OwnerId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Description</name>
            <value>
                <elementReference>miscellaneousFormsProcessingTaskDescription</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WhoId</name>
            <value>
                <elementReference>Loop_Through_Cases.Account.PersonContactId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WhatId</name>
            <value>
                <elementReference>Loop_Through_Cases.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <elementReference>caseTaskSubject</elementReference>
            </value>
        </inputParameters>
        <nameSegment>NewOperationsTask</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Get_Cases</name>
        <label>Get Cases</label>
        <locationX>182</locationX>
        <locationY>732</locationY>
        <actionName>FlowQueryFilter</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Cases_Count</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>U__filteredSObjectRecords</typeName>
            <typeValue>Case</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>additionalConditions</name>
            <value>
                <stringValue>Status = &apos;Waiting for Response&apos;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>filterField</name>
            <value>
                <stringValue>RecordTypeId</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetFieldsCSVString</name>
            <value>
                <stringValue>Id, OwnerId, CaseNumber, Subject, Type, Waiting_for_Response_Initiated__c, Account.PersonContactId</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetValuesStrings</name>
            <value>
                <elementReference>caseRecordTypeIDCollection</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sObjectName</name>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </inputParameters>
        <nameSegment>FlowQueryFilter</nameSegment>
        <outputParameters>
            <assignToReference>Cases</assignToReference>
            <name>filteredSObjectRecords</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_RecordTypeID</name>
        <label>Assign RecordTypeID</label>
        <locationX>270</locationX>
        <locationY>516</locationY>
        <assignmentItems>
            <assignToReference>caseRecordTypeIDCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Populate_Record_Type_ID_Collection.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Populate_Record_Type_ID_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Cases_Count</name>
        <label>Cases Count</label>
        <locationX>182</locationX>
        <locationY>852</locationY>
        <assignmentItems>
            <assignToReference>casesCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Cases</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Retrieved_Cases</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Retrieved_Cases</name>
        <label>Check Retrieved Cases</label>
        <locationX>182</locationX>
        <locationY>972</locationY>
        <defaultConnectorLabel>No Cases</defaultConnectorLabel>
        <rules>
            <name>Have_Cases</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>casesCount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_Cases</targetReference>
            </connector>
            <label>Have Cases</label>
        </rules>
    </decisions>
    <decisions>
        <name>Conditional_Checks_for_Task</name>
        <label>Conditional Checks for Task</label>
        <locationX>666</locationX>
        <locationY>1332</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_Cases</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Death_Benefit_Processing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Cases.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Death Benefit Processing</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>numberOfBusinessDaysForCurrentCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>15.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Death_Benefit_Processing_Task</targetReference>
            </connector>
            <label>Death Benefit Processing</label>
        </rules>
        <rules>
            <name>Beneficiary_Update_Processing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Cases.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Beneficiary Update Processing</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>numberOfBusinessDaysForCurrentCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>20.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Beneficiary_Update_Processing_Task</targetReference>
            </connector>
            <label>Beneficiary Update Processing</label>
        </rules>
        <rules>
            <name>Enrollment_Processing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Cases.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Enrollment Processing</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>numberOfBusinessDaysForCurrentCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>10.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Enrollment_Processing_Task</targetReference>
            </connector>
            <label>Enrollment Processing</label>
        </rules>
        <rules>
            <name>Miscellaneous_Forms_Processing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Cases.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Miscellaneous Forms Processing</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>numberOfBusinessDaysForCurrentCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>10.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Miscellaneous_Forms_Processing_Task</targetReference>
            </connector>
            <label>Miscellaneous Forms Processing</label>
        </rules>
    </decisions>
    <description>a daily scheduled flow on Case object</description>
    <formulas>
        <name>caseTaskSubject</name>
        <dataType>String</dataType>
        <expression>&apos;Follow Up: &apos; + {!Loop_Through_Cases.CaseNumber}</expression>
    </formulas>
    <interviewLabel>Scheduled Flow: Case Object {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Scheduled Flow: Case Object</label>
    <loops>
        <name>Loop_Through_Cases</name>
        <label>Loop Through Cases</label>
        <locationX>50</locationX>
        <locationY>1092</locationY>
        <collectionReference>Cases</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_the_Number_of_Business_Days</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Populate_Record_Type_ID_Collection</name>
        <label>Populate Record Type ID Collection</label>
        <locationX>182</locationX>
        <locationY>396</locationY>
        <collectionReference>Get_Record_Type_begin_with_Pentegra_DB</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_RecordTypeID</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Cases</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Record_Type_begin_with_Pentegra_DB</name>
        <label>Get Record Type begin with Pentegra DB</label>
        <locationX>182</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Populate_Record_Type_ID_Collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>Pentegra_DB</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Record_Type_begin_with_Pentegra_DB</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2022-03-10</startDate>
            <startTime>05:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Get_the_Number_of_Business_Days</name>
        <label>Get the Number of Business Days</label>
        <locationX>666</locationX>
        <locationY>1212</locationY>
        <connector>
            <targetReference>Conditional_Checks_for_Task</targetReference>
        </connector>
        <flowName>Subflow_Get_Business_Days_Between_Two_Dates</flowName>
        <inputAssignments>
            <name>endDate</name>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>startDate</name>
            <value>
                <elementReference>Loop_Through_Cases.Waiting_for_Response_Initiated__c</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>numberOfBusinessDaysForCurrentCase</assignToReference>
            <name>businessDaysNumber</name>
        </outputAssignments>
    </subflows>
    <textTemplates>
        <name>beneficiaryUpdateProcessingTaskDescription</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Beneficiary Update Processing Case has been Waiting for Response for 20 Business Days. Please follow up.</text>
    </textTemplates>
    <textTemplates>
        <name>deathBenefitProcessingTaskDescription</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Death Benefit Case has been Waiting for Response for 15 Business Days. Please follow up.</text>
    </textTemplates>
    <textTemplates>
        <name>enrollmentProcessingTaskDescription</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Enrollment Processing Case has been Waiting for Response for 10 Business Days. Please follow up.</text>
    </textTemplates>
    <textTemplates>
        <name>miscellaneousFormsProcessingTaskDescription</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Miscellaneous Forms Processing Case has been Waiting for Response for 10 Business Days. Please follow up.</text>
    </textTemplates>
    <variables>
        <name>caseRecordTypeIDCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>All Cases filtered by the Record Type ID</description>
        <name>Cases</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>casesCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>numberOfBusinessDaysForCurrentCase</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
