examples/flows/Task_After_Insert_Update_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <assignments>
        <description>Assign Account Team Member</description>
        <name>Assign_Account_Team_Member</name>
        <label>Assign Account Team Member</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>AccountTeamMemberRecord.AccountAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iteration_Account_team_members.AccountAccessLevel</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountTeamMemberRecord.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iteration_Account_team_members.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountTeamMemberRecord.ContactAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iteration_Account_team_members.ContactAccessLevel</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountTeamMemberRecord.OpportunityAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iteration_Account_team_members.OpportunityAccessLevel</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountTeamMemberRecord.UserId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iteration_Account_team_members.UserId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountTeamMemberRecord.CaseAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iteration_Account_team_members.CaseAccessLevel</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Collect_Account_team_members</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_MQA_Response_Time</name>
        <label>Assign MQA Response Time</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Get_Account.MQA_Response_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Account.MQA_Response_Time_Hours__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MQAHoursDifference</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign MQL Response time</description>
        <name>Assign_MQL_Response_time</name>
        <label>Assign MQL Response time</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ContactRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactRecord.MQL_Response_Time_Days__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>HoursDifference</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateContact</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contact_Owner_as_Task_Owner</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_Contact_MQA_Route_Count</name>
        <label>Assign New Contact MQA Route Count</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ContactRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactRecord.Num_Activity_After_MQA_Route__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewNumActivity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateContact</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Contact_Agency_Sales_Record_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Collect Account team members</description>
        <name>Collect_Account_team_members</name>
        <label>Collect Account team members</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>CollectAccountTeamRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AccountTeamMemberRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iteration_Account_team_members</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Check Account Agency Record Type</description>
        <name>Check_Account_Agency_Record_Type</name>
        <label>Check Account Agency Record Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsAgencySalesAccount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account_Agency_Sales_Record_Type</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Contact_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account_Team_Member</targetReference>
            </connector>
            <label>IsAgencySalesAccount</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check Account record exists for owner updation</description>
        <name>Check_Account_record_exists_for_owner_updation</name>
        <label>Check Account record exists for owner updation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsAccountExistsForOwnerUpdate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account_Record_for_Owner_Updation</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_Owner_as_Task_Owner</targetReference>
            </connector>
            <label>IsAccountExistsForOwnerUpdate</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check Account team Collection</description>
        <name>Check_Account_team_Collection</name>
        <label>Check Account team Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsAccountTeamCollection</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CollectAccountTeamRecords</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Account_team_member_records</targetReference>
            </connector>
            <label>IsAccountTeamCollection</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check Account team member records</description>
        <name>Check_Account_team_member_records</name>
        <label>Check Account team member records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_Account_Record_for_Owner_Updation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsAccountTeamRecords</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account_Team_Member</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Iteration_Account_team_members</targetReference>
            </connector>
            <label>IsAccountTeamRecords</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check Agency Sales Contact Record MQL response days</description>
        <name>Check_Agency_Sales_Contact_Record_MQL_response_days</name>
        <label>Check Agency Sales Contact Record MQL response days</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Update_Contact_Owner_as_Task_Owner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsAgencySalesContactMQLResponseDays</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Contact.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Contact_Agency_Sales_Record_Type.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_MQL_Date_Assignment</targetReference>
            </connector>
            <label>IsAgencySalesContactMQLResponseDays</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check Contact Agency Record Type</description>
        <name>Check_Contact_Agency_Record_Type</name>
        <label>Check Contact Agency Record Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Update_Contact_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsAgencySalesContact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contact_Agency_Sales_Record_Type</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Agency_Sales_Contact_Record_MQL_response_days</targetReference>
            </connector>
            <label>IsAgencySalesContact</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check MQL Date Assignment</description>
        <name>Check_MQL_Date_Assignment</name>
        <label>Check MQL Date Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Update_Contact_Owner_as_Task_Owner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsMQLReponseDate</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contact.MQL_Response_Time_Days__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>HoursDifference</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>Get_Contact.MQL_Response_Time_Days__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Contact.Routed_Time__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_MQL_Response_time</targetReference>
            </connector>
            <label>IsMQLReponseDate</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Task_record_assigned_to_Account</name>
        <label>Check Task record assigned to Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Check_Task_record_assigned_to_contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Related_to_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account</targetReference>
            </connector>
            <label>Related to Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Task_record_assigned_to_contact</name>
        <label>Check Task record assigned to contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsAssignedToContact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WhoId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>003</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contact</targetReference>
            </connector>
            <label>IsAssignedToContact</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check Task record is created or updated</description>
        <name>Check_Task_record_is_created_or_updated</name>
        <label>Check Task record is created or updated</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsNewRecord</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Task_record_assigned_to_Account</targetReference>
            </connector>
            <label>IsNewRecord</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_Task_after_MQA_Route</name>
        <label>is Task after MQA Route</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_Contact_Agency_Sales_Record_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Task_After_MQA_Route</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Contact</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Contact.Account.Last_MQA_Date__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedDate</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Contact.Account.Last_MQA_Date__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_New_Contact_MQA_Route_Count</targetReference>
            </connector>
            <label>Task After MQA Route</label>
        </rules>
    </decisions>
    <decisions>
        <name>Set_MQA_Response_Decision</name>
        <label>Set MQA Response Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Check_Task_record_assigned_to_contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Set_MQA_Response</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account.MQA_Response_Date_Time__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MQAHoursDifference</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>Get_Account.MQA_Response_Time_Hours__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Account.MQA__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_MQA_Response_Time</targetReference>
            </connector>
            <label>Set MQA Response</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Contact_Decision</name>
        <label>Update Contact Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_Account_Agency_Sales_Record_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UpdateContact</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_DML</targetReference>
            </connector>
            <label>Update Contact</label>
        </rules>
    </decisions>
    <description>Task After Insert/Update Flow</description>
    <environments>Default</environments>
    <formulas>
        <description>HoursDifference</description>
        <name>HoursDifference</name>
        <dataType>Number</dataType>
        <expression>(
  DATETIMEVALUE({!$Record.CreatedDate}) -
  (
    DATETIMEVALUE(
      IF(
        WEEKDAY(DATEVALUE({!Get_Contact.Routed_Time__c})) = 7, 
          TEXT(DATEVALUE({!Get_Contact.Routed_Time__c}) + 2) &amp; &quot; 13:00:00&quot;,
        IF(
          WEEKDAY(DATEVALUE({!Get_Contact.Routed_Time__c})) = 1, 
            TEXT(DATEVALUE({!Get_Contact.Routed_Time__c}) + 1) &amp; &quot; 13:00:00&quot;,
          TEXT({!Get_Contact.Routed_Time__c})
        )
      )
    )
  )
) * 24</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <description>IsNew</description>
        <name>IsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>MQAHoursDifference</name>
        <dataType>Number</dataType>
        <expression>(
  DATETIMEVALUE({!$Record.CreatedDate}) -
  (
    DATETIMEVALUE(
      IF(
        WEEKDAY(DATEVALUE({!Get_Account.Last_MQA_Date__c})) = 7, 
          TEXT(DATEVALUE({!Get_Account.Last_MQA_Date__c}) + 2) &amp; &quot; 13:00:00&quot;,
        IF(
          WEEKDAY(DATEVALUE({!Get_Account.Last_MQA_Date__c})) = 1, 
            TEXT(DATEVALUE({!Get_Account.Last_MQA_Date__c}) + 1) &amp; &quot; 13:00:00&quot;,
          TEXT({!Get_Account.Last_MQA_Date__c})
        )
      )
    )
  )
) * 24</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>NewNumActivity</name>
        <dataType>Number</dataType>
        <expression>BLANKVALUE({!Get_Contact.Num_Activity_After_MQA_Route__c}, 0) + 1</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Task After Insert/Update Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Task After Insert/Update Flow</label>
    <loops>
        <description>Iteration Account team members</description>
        <name>Iteration_Account_team_members</name>
        <label>Iteration Account team members</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Account_Team_Member</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Account_Team_Member</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Account_Record_for_Owner_Updation</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Create Account team member records</description>
        <name>Create_Account_team_member_records</name>
        <label>Create Account team member records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>CollectAccountTeamRecords</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_MQA_Response_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Account Agency Sales Record Type</description>
        <name>Get_Account_Agency_Sales_Record_Type</name>
        <label>Get Account Agency Sales Record Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Contact_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Agency Sales</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Account Record for Owner Updation</description>
        <name>Get_Account_Record_for_Owner_Updation</name>
        <label>Get Account Record for Owner Updation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Account_record_exists_for_owner_updation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact_Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account_Agency_Sales_Record_Type.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>CS_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Account Team Member</description>
        <name>Get_Account_Team_Member</name>
        <label>Get Account Team Member</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Account_team_member_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact_Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AccountTeamMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Agency Contact Record for MQL Response Days</description>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>is_Task_after_MQA_Route</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Contact Agency Sales Record Type</description>
        <name>Get_Contact_Agency_Sales_Record_Type</name>
        <label>Get Contact Agency Sales Record Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Contact_Agency_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Agency Sales</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Contact Record</description>
        <name>Get_Contact_Record</name>
        <label>Get Contact Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Account_Agency_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact_Agency_Sales_Record_Type.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Task_record_assigned_to_contact</targetReference>
        </connector>
        <inputReference>Get_Account</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Update Account Owner as Task Owner</description>
        <name>Update_Account_Owner_as_Task_Owner</name>
        <label>Update Account Owner as Task Owner</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Account_team_Collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account_Record_for_Owner_Updation.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update Contact MQL Response</description>
        <name>Update_Contact_DML</name>
        <label>Update Contact DML</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Account_Agency_Sales_Record_Type</targetReference>
        </connector>
        <inputReference>ContactRecord</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Update Contact Owner as Task Owner</description>
        <name>Update_Contact_Owner_as_Task_Owner</name>
        <label>Update Contact Owner as Task Owner</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Contact_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact_Agency_Sales_Record_Type.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Contact_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Working</stringValue>
            </value>
        </filters>
        <filters>
            <field>Contact_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Disqualified</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Contact_Status__c</field>
            <value>
                <stringValue>Working</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Task_record_is_created_or_updated</targetReference>
        </connector>
        <object>Task</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>AccountTeamMemberRecord</description>
        <name>AccountTeamMemberRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>AccountTeamMember</objectType>
    </variables>
    <variables>
        <description>CollectAccountTeamRecords</description>
        <name>CollectAccountTeamRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>AccountTeamMember</objectType>
    </variables>
    <variables>
        <description>ContactRecord</description>
        <name>ContactRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>UpdateContact</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
